body
{
	align-items: unset;
}

#content-full
{
	min-height: 100%;
	width: 1080px;
	display: block;
    box-shadow: 0px 0px 20px -5px rgb(0, 0, 0);
    padding: 20px;
    background: #fff;
}

#content-full #body
{
	width: 100%;
	padding: 5px;
}

#content-full h1
{
	border-bottom: 1px solid #ff0064;
	font-weight: 300;
}

#windowBody h3,
#content-full h3
{
	border-bottom: 1px solid #ff0064;
	font-weight: 300;
}

#content-full
{
	font-weight: 200;
}

#accountInfo
{
	--iconSize: 256px;
	display: grid;
	grid-template-columns: var(--iconSize) auto 500px;
	grid-gap: 10px;
	grid-template-areas: "Icon Info Stats";
}

#accountInfo .edit::after
{
	content: "Edit";
	float: right;
}

#accountInfo img
{
	grid-area: Icon;
	height: var(--iconSize);
	width: var(--iconSize);
	background-color: #dfdfdf;
	/* filter: brightness(1.5); */
}

#accountInfo form,
#accountInfo input
{
	grid-area: Icon;
	height: var(--iconSize);
	width: var(--iconSize);
	opacity: 0;
	outline: none;
	z-index: 3;
	padding: 0;
	margin: 0;
	display: block;
	cursor: default;
}

#accountInfo #changeIcon
{
	grid-area: Icon;
	z-index: 2;
	text-align: center;
	line-height: var(--iconSize);
	vertical-align: center;
	background-color: rgba(255, 255, 255, .2);
	transition: opacity .5s;
	font-size: 50px;
	opacity: 0;
}

#accountInfo .progress
{
	height: 100%;
	width: 0%;
	z-index: 4;
	grid-area: Icon;
	transition: width;
	background-color: #ff0064;
}

#accountInfo #uploadMessage
{
	grid-area: Icon;
	display: none;
	z-index: 5;
	text-align: center;
	line-height: var(--iconSize);
	vertical-align: center;
	background-color: rgba(255, 255, 255, .2);
	transition: opacity .5s;
	font-size: 50px;
}

#accountInfo form:hover + #changeIcon
{
	opacity: 1;
}

#accountInfo #infoPanel
{
	grid-area: Info;
	display: flex;
	flex-direction: column;
}

#accountInfo #stats
{
	grid-area: Stats;
}

#stats #statsBox
{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-gap: 10px;

}

#statsBox .statBox
{
	display: block;
	width: 150px;
	height: 100px;
	/* border: solid 1px #000; */
	margin: 5px;
}

#statsBox .statBox .statName
{
	font-size: 18px;
	font-weight: 400;
}

#statsBox .statBox .stat
{
	font-size: 40px;
}

#body #myApps,
#body #authAppList
{
	display: block;
}

.app
{
	display: grid;
	grid-template-columns: 85px auto 150px;
	grid-gap: 5px;
	grid-template-rows: 65px 15px;
	grid-template-areas: "Icon Name Button"
						 "Icon Host Button";
	border: solid 1px #eee;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: none;
	border-right: none;
	margin-bottom: 5px;
}

.app img
{
	grid-area: Icon;
	height: 85px;
	width: 85px;
	border: 0;
	outline: 0;
}

.app .name
{
	grid-area: Name;
	font-size: 60px;
}

.app .host
{
	grid-area: Host;
	font-size: 15px;
}

.app button
{
	grid-area: Button;
	height: 50px;
	align-self: center;
}

.app .deleted
{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	z-index: 1;
	background-color: #fff;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.app .placeholder
{
	background: #e6e2e2;
	/* background: linear-gradient(90deg, #e6e2e2, #ffffff, #e6e2e2); */
    /* background-size: 200% 200%; */
    /* animation: LoadAnim 2s ease-out infinite; */
}

@keyframes LoadAnim 
{ 
    0%{background-position:200% 0%}
    /* 50%{background-position:100% 0%} */
    100%{background-position:0% 0%}
}

button
{
	background: rgb(255, 0, 100);
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	transition: background .5s;
	outline: none;
}

button.inline
{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px 5px 0px 5px;
	/* width: 100px; */
}

button:hover
{
	background: rgb(200, 0, 90);
}

a
{
	color: #ff0064;
	transition: color .5s;
	text-decoration: none;
}

a:hover
{
	color: rgb(200, 0, 90);

}


#myAppsHead
{
	display: grid;
	grid-template-columns: auto 150px;
	grid-template-areas: "h1 Btn"
}

#myAppsHead h1
{
	grid-column: 1 / -1;
	grid-row: 1;
}

#myAppsHead button
{
	grid-area: Btn;
}

#appIconUpload
{
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-areas: "Icon Text";
	grid-gap: 5px;
	background-color: #e9e9e9;
	margin: 10px;
	padding: 10px;;
}

#appIconUpload input[type = "file"]
{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	opacity: 0;
	margin: 0;
	padding: 0;
}

#appIconUpload #uploadIcon
{
	grid-area: Icon;
}

#appIconUpload #uploadText
{
	grid-area: Text;
	line-height: 40px;
	vertical-align: middle;
}
