input
{
	margin: 10px;
	padding: 10px;
	height: 40px;
}
input[type = "button"],
input[type = "submit"]
{
	background-color: #ff0064;
	color: #fff;
	min-width: 100px;
	border: none;
}

input[type = "email"],
input[type = "password"],
input[type = "text"]
{
	color: #000;
	min-width: 50%;
	background-color: #e9e9e9;
	outline: none;
	border: 1px solid #fff;
	transition: 0.5s border;
}

input[type = "email"]:focus,
input[type = "password"]:focus,
input[type = "text"]:focus
{
	border: 1px solid rgb(128, 0, 50);
}

label.error
{
	color: #ff0064;
}


#authorize
{
	display: grid;
	grid-template-columns: auto 20px auto;
	grid-template-rows: 100px;
	grid-template-areas: "User Arrow App";
	width: 500px;
	background-color: #eee;
}

#authorize #user
{
	grid-area: User;
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: 100px 1fr;
	grid-template-rows: 50px 50px;
	grid-template-areas: "Icon Name"
						 "Icon Description";
	color: #fff;
	background-color: #ff0064;
}

#authorize #arrow
{
	grid-area: Arrow;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 50px 20px;
	border-color: transparent transparent transparent #ff0064;
}

#authorize #app
{
	display: grid;
	grid-area: App;
	text-align: right;
	grid-column-gap: 5px;
	grid-template-columns: 1fr 100px;
	grid-template-rows: 50px 50px;
	grid-template-areas: "Name Icon"
						 "Description Icon";
}

#authorize .icon
{
	grid-area: Icon;
	height: 100px;
	width: 100px;
	border: none;
	outline: none;
}

#authorize .name
{
	grid-area: Name;
	height: 50px;
	line-height: 50px;
	vertical-align: bottom;
	font-weight: bold;
}

#authorize .desc
{
	grid-area: Description;
}